{% extends 'base.html.twig' %}

 {% block body %}
     {{ form_start(form) }}
<div class="user"></div>
<div class="container h-100">
     <div class="d-flex justify-content-center h-100">
         <div class="user_card">
             <div class="d-flex justify-content-center">
                 <div class="brand_logo_container">
                     <img src="images/MID.png" class="brand_logo" alt="Logo">
                 </div>
             </div>
                <div class="input-group mb-1">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                 {{ form_row(form.username, {'attr': {'placeholder': 'Nom...'}}) }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                 {{ form_row(form.email, { 'attr': {'placeholder': 'Adresse email ...'}}) }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                         <span class="input-group-text"><i class="fas fa-user"></i></span>
                     </div>
                 {{ form_row(form.password, {'attr': {'placeholder': 'Mot de passe ...'}}) }}
                </div>

                <div class="input-group mb-3">
                     <div class="input-group-append">
                         <span class="input-group-text"><i class="fas fa-user"></i></span>
                     </div>
                 {{ form_row(form.confirm_password, {'attr': {'placeholder': 'Répétez votre mot de passe ...'}} ) }}
                </div>
            <button type="submit" class="btn btn-success">Inscription!</button>

         </div>
     </div>
</div>
 {{ form_end(form) }}
{% endblock %}