<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/personnes.js"></script>


    <link rel="stylesheet" href="cssnv/stylepers.css">
    <link rel="stylesheet" href="cssboot/style.css">
    <link rel="stylesheet" href="fontawesome/font.css">
    <link rel="stylesheet" href="cssboot/icon.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="cssnv/w3.css">


<body>



<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Service</h2>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>id</th>
                <th>Nom</th>
                <th>Libelle</th>
            </tr>
            </thead>
            {% for service in services %}
                <tbody>
                <td></td>
                <td>{{ service.id }}</td>
                <td>{{ service.nom }}</td>
                <td>{{ service.libelle }}</td>
                </tbody>
            {% endfor %}


        </table>

        <div class="clearfix">
            <div class="hint-text">Showing <b>4</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="{{ path('read_direction') }}">Previous</a></li>
                <li class="page-item active"><a href="{{ path('read_direction') }}" class="page-link">1</a></li>
                <li class="page-item"><a href="{{ path('read_direction') }}" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- Edit Modal HTML -->


<!-- Edit Modal HTML -->

</body>
</html>