<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="cssnv/w3.css">
<body>

<div class="w3-container">
    <h2>W3.CSS Login Modal</h2>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Login</button>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            {% block body %}
                {{ form_start(form) }}
                <h1>{{ form_title }}</h1>
                {{ form_widget(form.nomMateriel, {'attr' : {'class' : 'w3-input w3-border w3-margin-bottom', 'placeholder' : 'nom_materiel', 'autocomplete' : 'off'}}) }}
                {{ form_widget(form.marqueMateriel, {'attr' : {'class' : 'w3-input w3-border w3-margin-bottom', 'placeholder' : 'marque_materiel', 'autocomplete' : 'off'}}) }}
                {{ form_widget(form.caracteristique, {'attr' : {'class' : 'w3-input w3-border w3-margin-bottom', 'placeholder' : 'caracteristique', 'autocomplete' : 'off'}}) }}

                <select name="personne">
                    {% for personne in personnes %}
                        <option value="{{ personne.id }}">{{ personne.nomPersonne }}</option>
                    {% endfor %}
                </select>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            {% endblock %}

            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                <button onclick="document.getElementById('id01').style.display='none'" type="submit" class="w3-button w3-blue">Ajouter</button>
            </div>

        </div>
    </div>
</div>

</body>
</html>
