<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/personnes.js"></script>

    <link rel="stylesheet" href="cssnv/stylepers.css">
    <link rel="stylesheet" href="cssboot/style.css">
    <link rel="stylesheet" href="fontawesome/font.css">
    <link rel="stylesheet" href="cssboot/icon.css">
    <link rel="stylesheet" href="cssboot/roboto.css">
    <link rel="stylesheet" href="cssnv/w3.css">
    <link rel="stylesheet" href="style.css">

    <style>
        .w3-container{
            color: dodgerblue;
        }
        .w3-modal-content w3-card-4 w3-animate-zoom{
            color: black;
        }

        .ajout{
            color: black;
        }
        .contenu{
            font-family: Verdana,sans-serif;
            font-weight: 20px;
        }
        .titre{
            color: navajowhite;
        }

        body{
            background-image:  url("/images/EX.jpg");
            color: #f1f1f1;
            font-family: "cursive";

        }

        .table-wrapper {
            background: radial-gradient(black, transparent);
            padding: 20px 25px;
            margin: 30px 0;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        table.table-striped tbody tr:nth-of-type(odd) {
            background: radial-gradient(black, transparent);
        }
        table.table-striped.table-hover tbody tr:hover {
            background: black;
        }
        .table-title {
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }
        .modal-title, .form-group{
            color: black;
        }
    </style>


</head>
<body>

<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <li>
        <a href="#" class="nav-links">Accueil</a>
    </li>
    <li>
        <a href="{{ path('read_direction') }}" class="nav-links">Direction</a>
    </li>
    <li>
        <a href="{{ path('read_service') }}" class="nav-links">Service</a>
    </li>
    <li>
        <a href="{{ path('read_personne') }}" class="nav-links">Personne</a>
    </li>
    <li>
        <a href="{{ path('read_materiel') }}" class="nav-links">Materiel</a>
    </li>
    <li>
        <a href="{{ path('read_probleme') }}" class="nav-links">Probleme Materiel</a>
    </li>

    </ul>
</nav>


<div class="container">
    <div class="table-wrapper">
        <div class="col-sm-6">
            <a onclick="document.getElementById('id01').style.display='block'" class="btn btn-success" data-toggle="modal"> <span>Ajouter</span></a>
        </div>

        <div class="table-title">
            <div class="row">

                <div class="search-container">
                    <form action="{{ path('read_panne') }}" method="post">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr class="titre">
                <th></th>
                <th>id</th>
                <th>Type</th>
                <th>Materiel</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for panne in pannes  %}
                <tbody class="contenu">
                <td></td>
                <th>{{ panne.id }}</th>
                <th>{{ panne.typePanne }}</th>
                <th>{{ panne.materiel.nomMateriel }}</th>
                <th>{{ panne.personnes.nomPersonne }}</th>
                <td>

                    {# <a href="{{ path('modify_personne', {'id': personne.id}) }}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a> #}
                    <a href="#editPanne{{ panne.id }}" class="edit" data-toggle="modal">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    <!-- Edit Modal HTML -->
                    <div id="editPanne{{ panne.id }}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="{{ path('edit_panne') }}">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Panne</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="idPanne" value="{{ panne.id }}">
                                        <div class="form-group">
                                            <label>Panne</label>
                                            <input type="text" id="typePanne{{ panne.id }}" name="typePanne" value="{{ panne.typePanne }}" class="form-control" required>
                                        </div>
                                        <div
                                                class="form-group">
                                            <!-- eto le select atao aona le -->
                                            <label>Materiel</label>
                                            <select id="materiel{{ panne.id }}" name="materiel">
                                                <option value="{{ panne.materiel.id }}">{{ panne.materiel.nomMateriel }}</option>
                                                {% for li in list %}
                                                    {% if li.id != panne.materiel.id %}
                                                        <option value="{{ li.id }}">{{ li.nomMateriel }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div
                                                class="form-group">
                                            <!-- eto le select atao aona le -->
                                            <label>Personne</label>
                                            <select id="personne{{ panne.id }}" name="personne">
                                                <option value="{{ panne.personnes.id }}">{{ panne.personnes.nomPersonne }}</option>
                                                {% for pt in listPt %}
                                                    {% if pt.id != panne.personnes.id %}
                                                        <option value="{{ pt.id }}">{{ pt.nomPersonne }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-info" value="Save">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <a href="{{ path('delete_panne', {'id': panne.id}) }}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
                </tbody>
            {% endfor %}

        </table>
        <div class="clearfix">
            <ul class="pagination">
                <li class="page-item">{{ knp_pagination_render(pannes) }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="w3-container">
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">


            <h1 class="ajout">{{ form_title }}</h1>
            {# {{ form(form_product) }}  #}
            {{ form_start(form) }}
            {# {{ form_start(form, {'attr' : {'class' : 'form-horizontal', 'id' : 'addPersonne'}}) }} #}
            <div class="form-group">
                <label>Type</label>
                {{ form_widget(form.typePanne, {'required' : true ,'attr' : {'class' : 'form-control', 'placeholder' : 'Nom personne', 'autocomplete' : 'off'}}) }}
            </div>

            <div class="form-group">
                <label>Nom</label>
                <select name="personne">
                     {% for personne in personnes %}
                        <option value="{{ personne.id }}">{{ personne.nomPersonne }}</option>
                    {% endfor %}
                </select>
               </div>
            <div class="form-group">
                <label>Materiel</label>

                <select name="materiel">
                    {% for materiel in materiels %}
                        <option value="{{ materiel.id }}">{{ materiel.nomMateriel }}</option>
                    {% endfor %}
                </select>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}


            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                </div>

        </div>
    </div>
</div>

</body>
</html>

